body{
	margin: 0;
	padding: 0;
	background-color:white;
	font-family: 'Ubuntu', sans-serif;
	color:white;
}
/*style the navigation menu */
.navbar {
	width: 100%;
	background-color:#89CFF0;
	overflow: auto;}
/*navigation links */
.navbar a{
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width:17%;
	max-height: 100px;
	min-width:100px;
}
.navbar a:hover{
	background-color:#6CB4EE
}
.active{
	background-color:#6CB4EE
}

article{

	background-color:#89CFF0;
	width: 1000px;
	margin: auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h1{
	text-align: center;
	color: #6CB4EE;
}
h2{ 
	text-align: center;
	color: #6CB4EE;
}

img{
	margin: auto;
	width: 100%;
}
footer{
	text-align: center;
	background-color: #6CB4EE;
	padding-top:10px;
	padding-bottom:10px; 
}
.rondehoeken{ 
border-radius: 20px 20px 20px 20px;
 }
 .half{
 	border-radius: 0px 0px 20px 20px;
 }
 .centreren{
 	text-align: center;
 }
 img.voorkant{
 	max-width: 500px;
 	max-height: 300px;
 	display: block;
    margin-left: auto;
    margin-right: auto;

 }
 form{
 color:#89CFF0;
}
.contactContainer{
	margin: 0px auto;
	width: 800px;
	text-align: center;
	margin-bottom: 50px
}
.WIT{
color: white;
}
.koop a{
	color: white;
	text-decoration: none;
} 
.koop a:hover{
	background-color:white;
	color: #6CB4EE
	}
article.ruim {
	margin-bottom: 50px;
	margin-top: 50px;
}
img.P{
	margin-top: 10px;
	max-height: 100px;
	max-width:100px;
}
img.C{
	margin-top: -70px;
	float: right;
	width: 90px;
	height: 90px;

}
img.H{
	margin-top: -110px;
	float: right;
	width: 90px;
	height: 90px;

}
div.Tweet{float: right;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook{
	background:#3B5998;
	color: white;
}
.fa-twitter{
	background:#55ACEE;
	color: white;
}
.fa-instagram{
	background:#125688;
	color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  float: right;
}