body{
	margin: 0;
	padding: 0;
	background-color:white;
	font-family: 'Ubuntu', sans-serif;
	color:white;
}
/*style the navigation menu */
.navbar {
	width: 100%;
	background-color:#89CFF0;
	overflow: auto;
}
/*navigation links */
.navbar a{
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width:18%;
}
.navbar a:hover{
	background-color:#6CB4EE
}
article{

	background-color:#89CFF0;
	width: 1000px;
	margin: auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h1{
	text-align: center;
	color: #6CB4EE;
}
h2{ 
	text-align: center;
	color: #6CB4EE;
}

img{
	margin: auto;
	width: 100%;
}
footer{
	text-align: center;
	background-color: #6CB4EE;
	padding-top:10px;
	padding-bottom:10px; 
}
.rondehoeken{ 
border-radius: 20px 20px 20px 20px;
 }
 .centreren{
 	text-align: center;
 }